### ESP-IDF ###
build/
sdkconfig.old

# Mac OS
.DS_Store

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
!.vscode/*.code-snippets
